In [32]:
import pandas as pd

weatherData={
    'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':[32,35,35,26,27,29],
    'windspeed':[6,7,6,5,6,4],
    'event':['rain','sunny','snow','rain','sunny','snow']
}

df=pd.DataFrame(weatherData)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/3/2017           35          6   snow
3  1/4/2017           26          5   rain
4  1/5/2017           27          6  sunny
5  1/6/2017           29          4   snow

In [6]:
df.shape

(6, 4)

In [8]:
rows,columns=df.shape

In [15]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   rain
1  1/2/2017           31          7  sunny
2  1/3/2017           35          6   snow
3  1/4/2017           26          5   rain
4  1/5/2017           27          6  sunny

In [16]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   rain
1  1/2/2017           31          7  sunny

In [17]:
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           31          7  sunny
2  1/3/2017           35          6   snow
3  1/4/2017           26          5   rain
4  1/5/2017           27          6  sunny
5  1/6/2017           29          4   snow

In [18]:
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           27          6  sunny
5  1/6/2017           29          4   snow

In [19]:
df[2:5]

        day  temperature  windspeed  event
2  1/3/2017           35          6   snow
3  1/4/2017           26          5   rain
4  1/5/2017           27          6  sunny

In [20]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [21]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [22]:
df.event

0     rain
1    sunny
2     snow
3     rain
4    sunny
5     snow
Name: event, dtype: object

In [23]:
type(df['event'])

pandas.core.series.Series

In [25]:
df[['event','day']]

   event       day
0   rain  1/1/2017
1  sunny  1/2/2017
2   snow  1/3/2017
3   rain  1/4/2017
4  sunny  1/5/2017
5   snow  1/6/2017

In [26]:
df['temperature'].max()

35

In [28]:
df['windspeed'].max()

7

In [29]:
df['temperature'].mean()

30.0

In [30]:
df['temperature'].median()

30.0

In [33]:
df['temperature'].mode()

0    35
Name: temperature, dtype: int64

In [34]:
df['temperature'].std()

3.9327683210007005

In [36]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.666667   5.666667
std       3.932768   1.032796
min      26.000000   4.000000
25%      27.500000   5.250000
50%      30.500000   6.000000
75%      34.250000   6.000000
max      35.000000   7.000000

In [37]:
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/3/2017           35          6   snow

In [38]:
df[df.temperature==df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  sunny
2  1/3/2017           35          6   snow

In [40]:
df[df.event=='snow']

        day  temperature  windspeed event
2  1/3/2017           35          6  snow
5  1/6/2017           29          4  snow

In [41]:
df[df.temperature==df.temperature.min()]

        day  temperature  windspeed event
3  1/4/2017           26          5  rain

In [44]:
    df[['day','temperature']][df['event']=='snow']

        day  temperature
2  1/3/2017           35
5  1/6/2017           29

In [45]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [47]:
new=df.set_index('day',inplace=True)

          temperature  windspeed  event
day
1/1/2017           32          6   rain
1/2/2017           35          7  sunny
1/3/2017           35          6   snow
1/4/2017           26          5   rain
1/5/2017           27          6  sunny
1/6/2017           29          4   snow

In [50]:
df.reset_index(inplace=True)