In [1]:
import pandas as pd
data={
    'Roll':[1,2,3,4,5,6,7,8,9,10],
    'subject':['Maths','English','Hindi','Urdu','Sanskrit','Biology','Chemistry','Botany','Zoology','Physics'],
    'Marks':[90,90,98,87,98,76,67,89,68,88]
}

df=pd.DataFrame(data)
df

   Roll    subject  Marks
0     1      Maths     90
1     2    English     90
2     3      Hindi     98
3     4       Urdu     87
4     5   Sanskrit     98
5     6    Biology     76
6     7  Chemistry     67
7     8     Botany     89
8     9    Zoology     68
9    10    Physics     88

In [3]:
new=df.groupby('Roll')

In [4]:
print(new.groups)

{1: [0], 2: [1], 3: [2], 4: [3], 5: [4], 6: [5], 7: [6], 8: [7], 9: [8], 10: [9]}